@model NotaModels
@using sistemaAcad.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
        ViewBag.Subtitulo = "Notas";
}


<h1>@ViewBag.Subtitulo</h1>
    
<hr>

<form action="Detalhar">
<div class="w-100"></div>
<div class="form-grup row">
    <label>Nota p1:</label><br>
    <input asp-for ="@Model.Nota1" class="form-control">
</div>
<div class="form-grup row">
    <label>Nota p2:</label><br>
    <input asp-for = "@Model.Nota2" class="form-control">
</div>
<label>Nota p3:</label><br>
<div class="form-grup row">
    <input asp-for ="@Model.Nota3" class="form-control">
</div>

<label>Media:</label><br>
<div class="form-grup row">
    <input asp-for = "@Model.IdNota" media class="form-control">
</div>
<hr>
<button class= "btn btn-outline-info" type="submit">Salvar Notas</button>
</form>