@using sistemaAcad.Models
@model IEnumerable<ProfessorModels>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Subtitulo = "Lista de Professors";
}

<header class="d-flex jutify-content-between aling-items-center">
    <div>
        <h1>@ViewBag.Subtitulo</h1>
    </div>
</header>
<hr>

<partial name = "_Mensagem"></partial>

@if(Model.Count() > 0){
    <table class = "table table-hover">
        <thread class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Materia</th>
                <th>Optians</th>
            </tr>
        </thread>
        <tbody>
            @foreach(var professor in Model){
                <tr>
                    <td> @professor.Nome</td>
                    <td> @professor.Email</td>
                    <td> @professor.Materia</td>
                    <td>
                        <a asp-action = "Cadastrar" asp-route-id="@professor.IdProfessor" class="btn btn-sm btn-secondary">Alterar</a>

                        <a asp-action = "Excluir" asp-route-id="@professor.IdProfessor" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else{
    <p>Não há professors cadastradas no Sistema.</p>
}
<hr>
<div>
        <a asp-action = "Cadastrar" class="btn btn-outline-info"> Nova Professor</a>
    </div>